@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Spectral:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

$ff-h: 'Karla', sans-serif;
$ff-b: 'Spectral', serif;
$base: #023047;
$accent: #219cba;
$pink: #e68ab4;
$gray-light: #dee2e6;
$gray-dark: #bfc5ca;

@mixin font-h($fs:1rem, $fw:300, $lh:1.6rem, $ls:normal, $color: $base, $tt:uppercase) {
  font-family: $ff-h;
  font-size: $fs;
  font-weight: $fw;
  letter-spacing: $ls;
  line-height: $lh;
  color: $color;
  text-transform: $tt;
}

@mixin font-b($fs:1rem, $fw:300, $lh:1.2rem, $ls:normal, $color: $base, $tt:normal) {
  font-family: $ff-b;
  font-size: $fs;
  font-weight: $fw;
  letter-spacing: $ls;
  line-height: $lh;
  color: $color;
  text-transform: $tt;
}
