@import 'typography';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  @include font-b;

  background: url(../images/b1.png);
}

header {
  @include flex-row;

  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 50px auto;
  background-color: $gray-light;
  padding: 30px;
  height: 50px;

  .header-brand {
    @include font-h;

    text-decoration: none;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    height: 50px;
    width: 110px;
  }

  nav {
    ul {
      list-style: none;

      @include flex-row;

      li {
        a {
          text-decoration: none;

          @include font-h($fw: 600);
        }
      }
    }
  }
}

#movie-section {
  @include flex-row;

  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  gap: 30px 3%;
  justify-content: center;
  align-items: flex-end;

  .movie-wrapper {
    @include flex-colum;

    align-items: center;
    gap: 5px;
    background-color: #111;

    .movie-wrapper__img {
      width: 250px;
    }

    .movie-wrapper__title {
      @include flex-row;

      justify-content: space-between;
      align-items: center;
      gap: 5px;
      width: 240px;
      height: 48px;
      line-height: 1.2;
      color: #fff;

      .movie-wrapper__likes {
        @include flex-colum;

        align-items: center;
        width: 55px;
        gap: 3px;
        margin-left: 1rem;

        i {
          color: $accent;
          cursor: pointer;

          &:hover {
            color: #fd3f3f;
            transform: scale(1.2);
          }

          &:active {
            color: rgb(255, 2, 2);
            text-shadow: 0 0 7px red;
          }
        }

        span {
          font-size: 0.75rem;
        }
      }
    }

    .movie-wrapper__comment-button {
      width: 240px;
      border: none;
      outline: 1px solid $accent;
      background-color: transparent;
      color: $accent;
      padding: 0.25rem 0;
      cursor: pointer;
      transition: background-color ease-out 250ms;
      margin-bottom: 5px;

      &:hover {
        background-color: $accent;
        color: white;
      }

      &:active {
        box-shadow: inset 0 0 5px;
      }
    }
  }
}

.modal__box {
  width: 100%;
  background-color: rgba(32, 32, 32, 0.9);
  display: none;

  @include flex-center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  .modal__container {
    height: 90%;
    width: 90%;
    max-width: 48rem;
    background-color: #fff;
    border-radius: 5px;
    background-image: url('../images/bg-movies.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-clip: border-box;
    background-size: cover;
    position: relative;

    @include flex-colum;

    .modal__btn {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid $accent;
      transition: background-color ease-out 250ms;
      display: flex;

      @include flex-center;

      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 11;

      .btn__close-modal {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background-color: transparent;

        @include font-h($fs: 1.25rem, $color: $accent);

        cursor: pointer;
      }

      &:hover {
        background-color: $accent;

        .btn__close-modal {
          color: #fff;
        }
      }
    }
  }

  .movie__container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
    background-color: rgba($color: #fff, $alpha: 0.8);
    position: relative;

    > * {
      width: 100%;
      margin-bottom: 2rem;
    }

    > :last-child {
      margin-bottom: 0;
    }

    h2 {
      @include font-h($fs: 2rem, $fw: bold, $tt: uppercase);

      margin-bottom: 2rem;
    }

    h3 {
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;

      li {
        @include flex-row;

        flex-wrap: wrap;
        padding: 0.5rem 0;
      }
    }

    .btn {
      padding: 0.5rem;
      background: transparent;
      border: 1px solid $accent;
      cursor: pointer;

      @include font-h($color: $accent);

      background-color: transparent;
      transition: background-color ease-out 250ms;

      &:hover {
        border: 1px solid $accent;
        background-color: $accent;
        color: #fff;
      }
    }

    scrollbar-width: thin;
    scrollbar-color: $gray-dark $gray-light;

    &::-webkit-scrollbar-thumb {
      background-color: $gray-dark;
      border-radius: 20px;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $gray-light;
    }

    @include mq($mw: 48rem) {
      padding: 1.5rem;
    }
  }

  .movie__details {
    > * {
      width: auto;
    }

    img {
      width: 210px;
      height: auto;
      margin-right: 1rem;
      margin-bottom: 1rem;
      float: left;
    }

    .movie__more {
      margin: 0;
      width: auto;
      margin-bottom: 1rem;

      .item-category {
        margin-right: 0.5rem;
        font-weight: 600;
      }
    }
  }

  .movie__comments {
    clear: both;

    .item-date,
    .item-name {
      margin-right: 0.5rem;
    }

    .item-name {
      font-weight: 600;
    }
  }

  .movie__add-comment {
    form {
      width: 100%;
      max-width: 31.25rem;
      padding-top: 0.5rem;

      @include flex-colum;

      > * {
        margin-bottom: 0.75rem;
      }

      > :last-child {
        margin-bottom: 0;
      }

      .input__field {
        width: 100%;
        padding: 0.5rem;
        border: none;
        background-color: transparent;
        outline: 1px solid $gray-dark;

        @include font-b;

        &:focus {
          outline: 1px solid $accent;
        }
      }
    }

    /* FORM VALIDATION */
    .form__message {
      // display: none;
      padding: 0.3rem;
      font-size: 0.9rem;
      color: #04bd9e;
    }

    .error-message {
      color: #fd3f3f;
    }

    .visible {
      display: block;
    }
  }
}

.modal__box-display {
  display: flex;
}

footer {
  @include flex-row;

  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 50px auto 10px;
  background-color: $gray-light;
  padding: 30px;
  height: 50px;

  @include font-b($fw: 400);
}
