@import 'typography';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  @include font-b;
}

header {
  @include flex-row;

  justify-content: space-between;

  nav {
    ul {
      list-style: none;

      @include flex-row;

      li {
        a {
          text-decoration: none;

          @include font-b;
        }
      }
    }
  }
}

// ### Movie Section ###

#movie-section {
  @include flex-row;

  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  gap: 30px;
  justify-content: center;
}

.movie-wrapper {
  width: 15%;

  @include flex-colum;

  align-items: center;
  gap: 5px;

  .movie-wrapper__title {
    @include flex-row;

    justify-content: space-between;
    width: 210px;
  }

  .movie-wrapper__comment-button {
    width: 200px;
  }
}
